body{
    padding: 0%;
    margin: 0%;
}
/*------VISTA PC------*/
    /* HEADER */
header{
    width: 100%;
    height: 10%;
    background-color: black;
    display: inline-block;
    color: white;
}
header > label{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: block;
    height: 100%;
    text-align: center;
    margin-top: 7%;
    font-size: 35px;
}
header > p{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 20px;
}
header > img{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 7%;
    left: 10%;
}
header nav{
    background-color: rgb(107, 16, 0);
    margin-top: 6%;
}
header nav ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin: 0%;
    justify-content: center;
}
header nav ul li{
    box-sizing: border-box;
    padding: 1%;
    margin-right: 1%;
    font-weight: bold;
}
header nav ul li:hover{
    background-color: rgb(202, 67, 43);
    cursor: pointer;
}
/* MAIN */
main{
    color: rgb(218, 214, 0);
    background-color:rgb(0, 0, 68);
}
aside{
    float: left;
    box-sizing: border-box;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 5%;
}
main img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
aside > img{
    display: flex;
    margin: auto;
    margin-top: 3%;
}
main aside label:first-of-type{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
main aside label{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
aside label:nth-child(4){
    font-weight: bold;
    font-size: 25px;
}
aside label:nth-child(5){
    font-weight: bold;
}
aside label:nth-child(6){
    font-weight: bold;
}
aside > section{
    display: flex;
    justify-content: center;
}
br{
    clear: both;
}
/* SECTION LUEGO DE ASIDE */
aside + section{
    float: left;
    width: 50%;
    padding-top: 1%;
}
aside + section label:first-child{
    font-size: 25px;
    font-weight: bold;
}
aside + section label:nth-child(2){
    font-weight: bold;
}
aside + section label:nth-child(5){
    font-weight: bold;
}
aside + section label, aside + section p{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    text-align: center;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    text-align: center;
}

/*------VISTA MOVIL------*/
@media (max-device-width: 425px){
        /* HEADER */
header{
    width: 100%;
    height: 10%;
    background-color: black;
    display: inline-block;
    color: white;
}
header > label{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin-top: 7%;
    font-size: 35px;
    display: none;
}
header > p{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    display: none;
}
header > img{
    height: 150px;
    width: 150px;
    position: relative;
    left: 31%;
}
header nav{
    background-color: rgb(107, 16, 0);
    margin-top: 6%;
}
header nav ul{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    display: block;
    margin: 0%;
    text-align: center;
    padding: 5% 0%;
}
header nav ul li{
    box-sizing: border-box;
    font-weight: bold;
    margin: 0%;
    margin-bottom: 5%;
    padding: 0;
}
header nav ul li:nth-child(5){
    margin: 0%;
}
header nav ul li:hover{
    background-color: rgb(202, 67, 43);
    cursor: pointer;
}
/* MAIN */
main{
    color: rgb(218, 214, 0);
    background-color:rgb(0, 0, 68);
}
aside{
    float: none;
    box-sizing: border-box;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
}
main img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
aside > img{
    display: flex;
    margin: auto;
    margin-top: 3%;
}
main aside label:first-of-type{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
main aside label{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
aside label:nth-child(4){
    font-weight: bold;
    font-size: 25px;
}
aside label:nth-child(5){
    font-weight: bold;
}
aside label:nth-child(6){
    font-weight: bold;
}
aside > section{
    display: flex;
    justify-content: center;
}
br{
    clear: both;
}
/* SECTION LUEGO DE ASIDE */
aside + section{
    float: none;
    width: 100%;
    padding-top: 1%;
}
aside + section label:first-child{
    font-size: 25px;
    font-weight: bold;
}
aside + section label:nth-child(2){
    font-weight: bold;
}
aside + section label:nth-child(5){
    font-weight: bold;
}
aside + section label, aside + section p{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    text-align: center;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    text-align: center;
}
}
@media screen and (max-device-width:768px) and (orientation: portrait) and (orientation: landscape){
    
}
